<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org">

<head>
	<title>gestion etude</title>
	
	<link rel="stylesheet" th:href="@{/resources/css/bootstrap.min.css}"/>
	<link rel="stylesheet" th:href="@{/resources/css/bootstrap-theme.min.css}"/>
	<script type="text/javascript" th:src="@{/resources/js/jquery-2.2.4.js}"></script>
	
</head>

<body>
 <div class="container">
      <!-- Static navbar -->
      <nav class="navbar navbar-default">
        <div class="container-fluid">
          <div class="navbar-header">
            <a class="navbar-brand" href="#">Gestion étude</a>
          </div>
          <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav navbar-right">
              <li class="active"><a href="#">Deconexion </a></li>
            </ul>
          </div>
        </div>
      </nav>
	
	  <fieldset>
		  <legend>identification</legend>
<!-- 		  TODO afficher les informations de l'étude choisie -->
		  <div class="row">
			  <div class="col-md-3">
				  <label>Statut:</label> 
			 </div>
			 <div class="col-md-3">
				  <span></span>
			  </div>
			  <div class="col-md-3">
				  <label>Date de validation:</label> 
			  </div>
			  <div class="col-md-3">
				  <span></span>
			  </div>
		  </div>
		  <div class="row">
			  <div class="col-md-3">
				  <label>Etat:</label>
			  </div>
			  <div class="col-md-3">
				  <span></span>
			  </div>
			  <div class="col-md-3">
				  <label>Date d'évaluation:</label>
			  </div>
			  <div class="col-md-3"> 
				  <span></span>
			  </div>
		  </div>
		   <div class="row">
			  <div class="col-md-3"> 
				  <label>Date de finalisation:</label>
				   </div>
			  <div class="col-md-3">  
				  <span ></span>
			  </div>
		  </div>
	 </fieldset>
<br/><br/><br/>	 
	<fieldset>
		<legend>Liste de Personnes</legend>
		<div class="row">
			<div class="col-md-8">
			 <table class="table table-striped">
	    		<thead>
	    			<tr>
	    		 		<th>Bénéficiaire</th>
	                   	<th>Numero</th>
	                    <th>Sexe</th>
	                    <th>Age</th>
	                    <th>Contexte psychologique</th>
	                </tr>
			    </thead>
		     	<tbody>
<!-- 		     		TODO afficher la liste des personnes associée à l'étude consultée -->
		     	</tbody>
     		</table>
			</div>
		</div>
		<div class="row">
		<div class="col-md-8">
				<a href="#">Ajouter</a>
				<a href="#">Echantillon</a>
			</div>
		</div>
	</fieldset>
</div>
<script type="text/javascript" th:src="@{/resources/js/bootstrap.min.js}"></script>
</body>
</html>